<div class="jumbotron text-center">
  <h1>Pins Guardados</h1>
</div>

<div class="starter-template">

		<div class="container">
			<div class="row">
				<div class="col-md-4">

				  <img src="https://i.pinimg.com/originals/cf/07/d5/cf07d51d11dae0cb12f882d2d61e3478.jpg" alt="Helmet" 
				  class='img-responsive'>
				  <img src="https://cdn.20m.es/img2/recortes/2018/03/08/653665-600-338.jpg" alt="PS4" 
				  class='img-responsive'>
				</div>

				<div class="col-md-4">
				  <img src="http://mouse.latercera.com/wp-content/uploads/2018/03/goku.jpg" alt="DBZ" 
				  class='img-responsive'>
			  	<img src="https://i.pinimg.com/736x/c1/df/ae/c1dfaeaeda06b3a3337dd1d8b6be3cd2--the-strokes-sticker.jpg" alt="TheStrokes" 
				  class='img-responsive'>

				</div>

				<div class="col-md-4">
				  <img src="https://www.bmw.com.mx/content/dam/bmw/common/topics/fascination-bmw/BMWi/2016/bmw-i-visions/BMWi-i3-Brand-OPC-visions-timeline-02.jpg/_jcr_content/renditions/cq5dam.resized.img.585.low.time1462167627367.jpg" alt="BMW" 
				  class='img-responsive'>
					<img src="https://vignette.wikia.nocookie.net/kong/images/f/f0/Gorillaz_plastic_beach_logo_render_by_noodlekyuzo-d5gjdte.png/revision/latest?cb=20160804190647" alt="Gorillaz" 
				  class='img-responsive'>
				  
				</div>

				<div class="col-md-4">
				  <img src="https://images.ctfassets.net/cgytwpzevc5f/1uvdWNPeZG20coiaU6kIeG/ee92419328d82a58ab226fd1872c243e/Scrambler-Classic-White-Model-MY18-01-780x430.jpg" alt="Moto" 
				  class='img-responsive'>
				</div>


			</div>

		</div>