<div class="jumbotron text-center">
  <h1>Usuarios</h1>
</div>

<div class="starter-template">
<table>
  <tr>
    <th>Nombre</th>
    <th>Profesion</th>
    <th>Pais</th>
  </tr>
  <tr>
    <td>Cristian Hurtado</td>
    <td>Ingeniero Civil Informático</td>
    <td>Chile</td>
  </tr>
  <tr>
    <td>Pablo Huber</td>
    <td>Ingeniero Comercial</td>
    <td>Chile</td>
  </tr>
</table>

</div>